.button-subcategory {
    width: 260px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--text);
    padding: 12px 16px;
    border: none;
    border-radius: 15px;
    text-align: left;
}

.button-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-subcategory h3 {
    text-transform: uppercase;
    display: inline;
    margin: 0;
    line-height: 1;
}

.subcategory_icon-wrapper svg,
.subcategory_icon-wrapper i,
.subcategory_icon-wrapper span {
    display: flex;
    align-items: center;
    font-size: 22px;
    max-height: 26px;
    margin: 0 4px 0 0;
}
