.item{
    width: 265px;
    height: 326px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.041);
}
.item p{
    margin: 4px 0 2px 0;
}
.profile_img{
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    object-fit: cover;
}
.stars_img{
    display: inline-block;
}
.stars_number{
    display: inline-block;
}
.role{
    color: var(--text2);
}