.list_title {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 58px;
}

.search_bar-container {
    display: flex;
    justify-content: center;
}

.search_bar-box {
    margin: 0;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.search_bar-icon {
    position: absolute;
    left: 0;
    height: 100%;
    font-size: 12px;
    padding-left: 16px;
}

.search_bar {
    width: 360px;
    display: block;
    text-decoration: none;
    background-color: var(--background3);

    font-size: 16px;
    line-height: 1.2;
    /*body base*/
    font-weight: 400;
    color: var(--text3);

    padding: 10px 16px 10px 42px;
    border: none;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    transition: 0.1s ease-in-out;
}

.search_bar:focus {
    color: var(--text);
    background-color: var(--background2);
    outline: none;
}

.workers-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

.list-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /* Zarovná filtry a položky nahoru */
    gap: 40px;
    position: relative;
    min-height: 400px;
}

.all-filters {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    width: 260px;
    z-index: 10;
    /* Zajistí, aby se filtry scrollovaly jen v rámci all-items */
    align-self: flex-start;
}

.filters {
    width: 100%;
    float: right;
}

.all-items-full {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 200px;
}

.all-items {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    margin-bottom: 200px;
    /*background-color: rgb(0, 0, 31);*/
}

.loader_container_listing,
.no-results_listing-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: auto;
    pointer-events: none;
    /* Kliky projdou skrz na filtry */
    z-index: 10;
}

.no-results_listing-container-reviews {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: auto;
    pointer-events: none;
    /* Kliky projdou skrz na filtry */
    z-index: 10;
}

/* Samotný spinner nebo text uvnitř */
.loader,
.no-results_listing {
    pointer-events: auto;
    /* Samotný prvek už na myš reaguje (pokud je potřeba) */
}

/*Location select*/
.custom-select-wrapper {
    position: relative;
    width: 100%;

}

.custom-select {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background3);
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.1s;
}

.open {
    border-radius: 10px 10px 0 0;
}

.custom-select:hover {
    background: var(--background2);
}

.arrow {
    transition: transform 0.3s;
    font-size: 12px;
    margin-right: 6px;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: var(--background3);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background: var(--background2);
}

.option.selected {
    font-weight: bold;
}

/* scrollbar */
.options::-webkit-scrollbar {
    width: 5px;
}

.options::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
}

/* checkbox container (rating) */
.checkbox-container-filter {
    margin: 5px 0 16px 8px;
}

/* stepper filter */
.quantity-stepper {
    display: flex;
    position: relative;
}

.stepper-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.stepper-input-wrapper-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-right: 8px;
}

.stepper-btn {
    cursor: pointer;
    font-size: 24px;
}

/* Animace pro načítání položek */
.all-items > div, .all-items-full > div {
    animation: fadeInTech 0.4s ease-out forwards;
}

@keyframes fadeInTech {
    from {
        opacity: 0;
        margin-top: 8px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
