.list_title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 58px;
}

.search_bar-container {
    display: flex;
    justify-content: center;
}

.search_bar-box {
    margin: 0;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.search_bar-icon {
    position: absolute;
    left: 0;
    height: 100%;
    font-size: 12px;
    padding-left: 16px;
}

.search_bar {
    width: 360px;
    display: block;
    text-decoration: none;
    background-color: var(--background3);

    font-size: 16px;
    line-height: 1.2;
    /*body base*/
    font-weight: 400;
    color: var(--text3);

    padding: 10px 16px 10px 42px;
    border: none;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    transition: 0.1s ease-in-out;
}

.search_bar:focus {
    color: var(--text);
    background-color: var(--background2);
    outline: none;
}

.workers-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-container{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.all-filters {
    display: inline-block;
    background-color: rgb(23, 7, 39);
    margin-top: 15px;
    width: 280px;
    position: sticky;
    top: 120px;
}

.filters{
    width: 100%;
    float: right;
}

.all-items {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    /*background-color: rgb(0, 0, 31);*/
}

/*Location select*/
.custom-select-wrapper {
  position: relative;
  width: 280px;
}

.custom-select {
    margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background3);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.1s;
}

.open{
    border-radius: 10px 10px 0 0;
}

.custom-select:hover {
  background: var(--background2);
}

.arrow {
  transition: transform 0.3s;
  font-size: 12px;
  margin-right: 6px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: var(--background3);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.1s;
}

.option:hover {
  background: var(--background2);
}

.option.selected {
  font-weight: bold;
}

/* scrollbar */
.options::-webkit-scrollbar {
  width: 5px;
}

.options::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

/*------------*/
.checkbox-container-filter{
    margin: 5px 0;
}
