:root {
    --background: #0F0F0F;
    --background2: #272727;
    --background3: #1d1d1d;
    --text: #F1F1F1;
    --text2: #C3C3C3;
    --text3: #B3B3B3;
    --primary: #B20300;
    --primary2: #FF0000;
    --secondary: #689700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    height: 100%;
}

/*body,
button,
input,
select,
textarea,
pre {
    font-family: "Inter", sans-serif !important;
}*/

body,
button,
input,
select,
textarea,
pre {
    font-family: "Public Sans", sans-serif !important;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

*::-webkit-scrollbar-track:active {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary);
}

button {
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
    /*transform: scale(0.98);*/
}

.smaller_opacity{
    transition: 0.15s ease-in-out;
    opacity: 1;
}

.smaller_opacity:hover{
    opacity: 0.8;
}

.smaller_scale{
    transition: 0.15s ease-in-out;
    transform: scale(1);
}

.smaller_scale:hover{
    transform: scale(0.99);
}

.button_disabled {
    cursor: default !important;
    opacity: 0.6 !important;
}

/*Title Page Bold*/
h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*Subtitle*/
h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.07rem;
}

/*Subheading*/
h3 {
    font-size: 20px;
}

/*Body Base*/
.body_base {
    font-size: 16px;
}

/*Strong*/
.strong {
    font-weight: 700;
}

/*Body Small*/
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

/*Body Smallest*/
.body_smallest {
    font-size: 12px;
}

p a {
    color: var(--primary2);
    text-decoration: none;
    font-weight: 600;
}

input:focus,
input:active {
    border: none !important;
    outline: none !important;
}

/*Loader*/
.loader_container {
    position: fixed;
    z-index: 9999;
    background-color: var(--background);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_container_fullscreen {
    position: fixed;
    z-index: 9999;
    background-color: #000000b2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.loader_container_reviews {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: absolute;
    top: 40%;
    margin: 0 auto;
    display: block;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, var(--primary) 94%, #0000) top/4px 4px no-repeat,
        conic-gradient(#0000 30%, var(--primary));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    animation: l13 1s infinite linear;
}

.no-results_tech-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: auto;
    pointer-events: none;
    /* Kliky projdou skrz na filtry */
    z-index: 10;
}

/*ALERT*/
.alert_container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    z-index: 9100;
    width: 270px;
}

.alert {
    width: 100%;
    padding: 16px 18px 16px 14px;
    margin-bottom: 10px;
    right: 20px;
    background-color: var(--background);
    border: solid 1px;
    border-radius: 12px;
    box-shadow: 0 2px 2px;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.alert-title {
    display: flex;
    align-items: top;
    gap: 12px;
    margin-bottom: 4px;
    font-size: 22px;
}

.alert-title p {
    margin: -2px 0 0 0;
    line-height: 1.5;
    max-width: 75%;
}

.alert-close {
    display: inline-block;
    font-weight: 1000;
    font-size: 14px;
    background: transparent;
    border: none;
    color: var(--text3);
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    padding: 4px;
}

.alert-message {
    margin: 0 0 0 34px;
    display: block;
    max-width: calc(50%-34px);
    color: var(--text2) !important;
}

/*POPUP*/
.popup_container {
    position: fixed;
    z-index: 9000;
    background-color: #000000b2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: var(--background);
    border: solid 1px var(--primary);
    border-radius: 12px;
    padding: 32px 0px;
    box-shadow: 0 2px 2px var(--primary);
    position: absolute;
    display: grid;
    width: 600px;
    z-index: 1100;
    top: 30%;
}

.popup h2 {
    text-align: center;
    margin: 0 0 0px 0;
}

.popup_header_sub{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 8px;
    color: var(--text2);
    letter-spacing: 0.03rem;
}

.popup h3 {
    text-align: center;
    margin: 0 0 0px 0;
}

.popup p {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.popup .cropped {
    width: 50%;
    margin: 0 auto;
}

.cropped-send_again {
    margin: 6px auto 0 auto;
    display: block;
    position: relative;
    width: auto;
    padding: 4px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text);
    cursor: default;
}

.cropped-send_again p {
    display: inline;
    cursor: pointer;
}

.popup_small {
    background-color: var(--background);
    border: solid 1px var(--primary);
    border-radius: 12px;
    padding: 32px 46px;
    box-shadow: 0 2px 2px var(--primary);
    position: absolute;
    display: grid;
    width: 400px;
    z-index: 1100;
    top: 30%;
}

.popup_small h3 {
    text-align: center;
    margin: 0 0 0px 0;
}

.popup_small p {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.popup_small .cropped {
    width: 80%;
    margin: 20px auto 0 auto;
}

.popup_small .cropped button {
    display: block;
}

.popup_big {
    background-color: var(--background);
    border: solid 1px var(--primary);
    border-radius: 12px;
    padding: 42px 0px 52px 0;
    box-shadow: 0 2px 2px var(--primary);
    position: absolute;
    display: grid;
    width: 760px;
    z-index: 1100;
    top: 48%;
    transform: translate(0, -50%) !important;
    max-height: 80vh;
    overflow-y: scroll;
}

.form-review {
    margin: 0 auto;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup_big h2 {
    text-align: center;
    margin: 0 0 0px 0;
}

.popup_big h2 span {
    font-weight: 700;
}

.react-stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px auto 10px auto;
}

.react-stars span {
    font-size: 28px;
}

.review-halfer {
    width: 48.2%;
    margin-top: 10px;
}

.review-columns {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input-with-icon {
    display: flex;
    align-items: center;
}

.input-with-icon input {
    width: 100%;
    padding-left: 40px;
    margin-left: -30px;
}

.input-with-icon .icon {
    height: 16px;
    width: 16px;
    z-index: 100;
    margin-left: 14px;
    margin-top: -1px;
}

.input-with-icon .icon.plus {
    color: #689700;
}

.input-with-icon .icon.minus {
    color: var(--primary2);
}

.review-fuller {
    width: 100%;
    margin-top: 10px;
}

.popup_big p {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.popup_big .cropped {
    width: 80%;
    margin: 20px auto 0 auto;
}

.popup_big .cropped button {
    display: block;
}

/*kliknutí na fav tlačítko animace**/
.fav-active {
    animation: heartBeat 0.3s ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/*animace u upozornění**/
.animate-badge {
    animation: animateBadge 0.55s ease-in-out;
    /*animation-delay: 0.3s;*/
}

@keyframes animateBadge {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

/*SVG ICONS*/
.svg_tabler {
    box-sizing: content-box;
    overflow: visible;
    height: 100%;
}

/*Legal page*/
.legal-container{
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
}

/*Tooltip*/
/* Obal pro tooltip */
.tooltip-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; /* Aby tlačítko vyplnilo sidebar */
}

/* Styl pro bublinu */
.tooltip-bubble {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    /*max-width: 220px;*/
    background-color: var(--background3);
    color: var(--text);
    text-align: center;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 1.4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    /*border: 1px solid #333;*/
    border: none;
    font-weight: 500;
    
    /* Pozicování */
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    transition: all 0.2s ease-in-out;
    z-index: 1000;
    pointer-events: none;
}

/* Šipka tooltipu */
.tooltip-bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1a1a1b transparent transparent transparent;
}

/* Zobrazení při hoveru */
.tooltip-wrapper.has-tooltip:hover .tooltip-bubble {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Styl pro unclickable tlačítko */
/*.form-submit.unclickable {
    cursor: not-allowed !important;
    filter: grayscale(0.8);
    opacity: 0.7;
}*/

/* Zajištění, aby p uvnitř tlačítka neblokovalo hover */
.form-submit.unclickable p {
    pointer-events: none;
}

/* CUSTOM SELECT DROPDOWN*/
/*Location select*/
.custom-select-wrapper {
    position: relative;
    width: 100%;

}

.custom-select-down, .custom-select-up {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background3);
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.1s;
}

.custom-select-down.open {
    border-radius: 10px 10px 0 0;
}
/* Když je otevřený SMĚREM NAHORU, spodní rohy zůstanou kulaté, horní se narovnají */
.custom-select-up.open {
    border-radius: 0 0 10px 10px;
}

.custom-select-down:hover {
    background: var(--background2);
}

.custom-select-up:hover {
    background: var(--background2);
}

.arrow {
    transition: transform 0.3s;
    font-size: 12px;
    margin-right: 6px;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.options-down {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 270px;
    overflow-y: auto;
    background: var(--background3);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.options-up {
    position: absolute;
    bottom: 100%; /* Zobrazí se nad selektem */
    left: 0;
    right: 0;
    max-height: 270px;
    overflow-y: auto;
    background: var(--background3);
    border-radius: 10px 10px 0 0; /* Zakulacení nahoře */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3); /* Stín směrem nahoru */
    z-index: 10;
    /*margin-bottom: -10px;*/ /* Překrytí marginu selektu, aby na sebe navazovaly */
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background: var(--background2);
}

.option.selected {
    font-weight: bold;
}

/* Skeleton Animace */
@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* deleted/non active item/user*/
.non_active-warning-bar{
    background-color: var(--background2);
    color: var(--text);
    margin: 18px auto 24px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.deleted-warning-bar{
    background-color: var(--primary);
    color: var(--text);
    margin: 18px auto 24px;
    padding: 10px;
    text-align: center;
    width: 100%;
}